.jumbotron
  .container
    .visible-xs-block
      .center-block
        img(
          alt="AutoCron" 
          src="/images/logos/AutoCronLogo.svg") 
        .title.h1
          | AutoCron 
        .subtitle.h1
          small
            | Re-cron your cron

    .visible-sm-block
      .center-block
        img(
          alt="AutoCron" 
          src="/images/logos/AutoCronLogo.svg") 
        .title.h1
          | AutoCron 
        .subtitle.h1
          small
            | Re-cron your cron

    .visible-md-block.visible-lg-block
      .parent 
        img(
          alt="AutoCron" 
          src="/images/logos/AutoCronLogo.svg")
        .bottom
          span.title.h1
            | AutoCron 
          span.subtitle.h1
            small
              | Re-cron your cron

